# Ignore structural folders
autodeploy/*
!autodeploy/.gitkeep

# Ignore IDE configuration folder
.idea
.vscode

# Ignore configuration files
.env
docker-compose.override.yml
conf/conf.xml
conf/web.xml
conf/controller-config.xml
